* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-image: url(./image/Profile.jpg);
  background-size: cover;
  background-repeat: 100% 100%;
}
.navbar {
  background-color: transparent;
  padding: 15px;
  color: rgb(255, 255, 255);
  text-align: left;
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.navbar p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Bebas Neue";
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  font-family: "Bebas Neue";
  text-decoration: none;
  border-radius: 10px;
  transition-duration: 0.5s;
}
.navbar ul li a:hover {
  color: white;
  box-shadow: 0 0 5px 5px #b30000;
}
.paragraph {
  justify-content: center;
  align-items: center;
  display: block;
  margin-top: 70px;
  padding: 5px;
}
.paragraph h2 {
  font-family: "Bebas Neue";
  color: white;
  font-size: 50px;
  background: url(./image/login1.jpg) 0 0/cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.paragraph p {
  color: white;
  font-family: "Bebas Neue";
}
.paragraph button {
  display: flex;
  flex-wrap: wrap;
  margin: 200px 90px;
}
.paragraph h5 {
  color: white;
  font-family: "Bebas Neue";
  font-size: 20px;
}
.paragraph span::after {
  content: "PHAL BONA";
  animation: animate 5s infinite;
  color: #ff0000;
  font-family: "Khmer os";
}
@keyframes animate {
  0% {
    content: "ផល បូណា";
  }
  45% {
    content: "ទ្រី ទិក";
  }
  75%{
    content: "លឹម ស៊ុនអេង";
  }
  100% {
    content: "អឹង ស៊ុនឡេង";
  }
}
button {
  background-color: #b30000;
  border-radius: 10px;
  border: none;
  color: white;
  width: 160px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Bebas Neue";
  cursor: pointer;
}
button:hover {
  color: #00cccc;
  box-shadow: 0 0 5px 5px #ad9191;
  transition-duration: 0.6s;
}
